@font-face {
    font-family: "DEBROSEE";
    src: url(../Font/DEBROSEE.ttf);
    font-style: normal;
}

.bg-colour {
    background: linear-gradient(to right, #0066ff 0%, #99ccff 100%);
}

.headings {
    font-family: DEBROSEE;
}

.menu_colour {
    color: black !important;
}

.nav-link {
    color: black;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold !important;
    text-align: center !important;
    margin: 4px 2px !important;
    transition: 0.3s !important;
}

.nav-link:hover {
    color: white !important;
    border-radius: 10px;
    background-color: #EB230F;
}