@font-face {
    font-family: "DEBROSEE";
    src: url(../Font/DEBROSEE.ttf);
    font-style: normal;
}

.bg-colour {
    background: linear-gradient(to right, #0066ff 0%, #99ccff 100%);
}

.headings {
    font-family: DEBROSEE;
}

.menu_colour {
    color: black !important;
}